.diamond {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    /* transform: rotate(45deg); */
    border-radius: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    img{
        transform: rotate(-45deg);
    }
}


